@import "../../styles/variables";

.TwoUpImageAndTextBlock {
  max-width: $maxContentAreaBigScreen;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacing * 14;

  .TwoUpOneBlock {
    width: 46%;
    img {
      max-width: 100%;
      box-sizing: border-box;
      border: 1px solid $boxOutlineColor;
    }
    h3 {
      margin: $spacing * 3 0;
      font-size: $subheadingTextSize;
      color: $baseTextColor;
      font-weight: 400;
    }
    p {
      margin: 0;
      font-size: $bodyTextSize;
      line-height: $baseLineHeight;
      color: $baseTextColor;
      a {
        display: block;
        margin-top: $spacing * 2;
        color: $linkColor;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        &:hover {
          text-decoration: underline;
          color: $accentColor;
        }
      }
    }
  }
  @media #{$breakPoint} {
    flex-wrap: wrap;
    justify-content: center;
    max-width: $containerSmallScreen;
    .TwoUpOneBlock {
      width: 100%;
      &:first-of-type {
        margin-bottom: $spacing * 7;
      }
    }
  }
}

.OneUpImageAndTextBlock {
  padding-bottom: $spacing * 14;
  .OneUpBlock {
    display: flex;
    // border: 1px solid $boxOutlineColor;
    justify-content: space-between;
    max-width: $maxContentAreaBigScreen;
    margin: 0 auto;
    padding: $spacing * 5 0;
    // border-top: $boxOutlineWidth solid $boxOutlineColor;
  }

  .OneUpImage {
    width: 34%;
    img {
      max-width: 100%;
      box-sizing: border-box;
      border: 1px solid $boxOutlineColor;
    }
  }
  .OneUpText {
    width: 60%;
    h3 {
      margin: 0 0 $spacing * 3 0;
      font-size: $subheadingTextSize;
      color: $baseTextColor;
      font-weight: 400;
    }
    p {
      margin: 0;
      font-size: $bodyTextSize;
      line-height: $baseLineHeight;
      color: $baseTextColor;
      a {
        display: block;
        margin-top: $spacing * 2;
        color: $linkColor;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        &:hover {
          text-decoration: underline;
          color: $accentColor;
        }
      }
    }
  }
  @media #{$breakPoint} {
    .OneUpImage {
      width: 25%;
    }
    .OneUpText {
      width: 72%;
    }
  }
}
.OneUpImageAndTextSmallBlock {
  padding-bottom: $spacing * 14;
  .OneUpSmallBlock {
    display: flex;
    // border: 1px solid $boxOutlineColor;
    justify-content: space-between;
    max-width: $maxContentAreaBigScreen;
    margin: 0 auto;
    padding: $spacing * 5 0;
    // border-top: $boxOutlineWidth solid $boxOutlineColor;
  }

  .OneUpSmallImage {
    width: 50px;
    img {
      max-width: 100%;
      box-sizing: border-box;
      border: 1px solid $boxOutlineColor;
    }
  }
  .OneUpSmallText {
    width: calc(100% - 70px);
    h3 {
      margin: 0 0 $spacing * 3 0;
      font-size: $subheadingTextSize;
      color: $baseTextColor;
      font-weight: 400;
    }
    p {
      margin: 0;
      font-size: $bodyTextSize;
      line-height: $baseLineHeight;
      color: $baseTextColor;
      a {
        display: block;
        margin-top: $spacing * 2;
        color: $linkColor;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        &:hover {
          text-decoration: underline;
          color: $accentColor;
        }
      }
    }
  }
}
