@import "../../styles/variables";

.FooterSection {
  border-top: 2px solid $boxOutlineColor;
  padding-top: 40px;
  text-align: center;
  .UpdaterLogoFooter {
    width: 100px;
    margin-bottom: 20px;
  }
  .HomePerksLogoFooter {
    width: 150px;
    margin-bottom: 8px;
  }
  .SocialIconFooter {
    width: 25px;
    height: 25px;
    opacity: 0.4;
    margin: 0 8px;
    transition: opacity 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .HomePerksByUpdater {
    font-size: 10px;
    font-weight: 400;
    color: #666;
    span {
      color: #f5333f;
    }
  }
  .HomePerksCallCenterInfo {
    text-align: center;
    font-size: $categoryLabelTextSize;
    color: #9e9e9e;
    margin-top: $spacing * 5;
    margin-bottom: $spacing * 5;
  }
  .HomePerksCallCenterHours {
    display: block;
    margin-top: $spacing;
    font-size: $footerLinkSecondaryTextSize;
  }
  .FooterPrimaryLinks {
    width: 240px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: $bodyTextSize;
    color: $lightTextColor;
    a {
      transition: color 0.2s;
      color: $baseTextColor;
      text-decoration: none;
      &:hover {
        color: $linkColor;
        text-decoration: underline;
      }
    }
    &.HomePerks {
      width: 100%;
      max-width: 480px;
      color: #ccc;
    }
    @media #{$breakPoint} {
      display: block;
      a {
        display: inline-block;
      }
    }
  }
  .FooterSecondaryLinks {
    width: 180px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: $footerLinkSecondaryTextSize;
    color: $lightTextColor;
    a {
      transition: color 0.2s;
      color: $lightTextColor;
      &:hover {
        color: $linkColor;
      }
    }
    &.HomePerks {
      width: 120px;
    }
  }
  .FooterOfficeAddress {
    font-weight: 400;
    font-size: $footerFinePrintTextSize;
    color: $lightTextColor;
    a {
      transition: color 0.2s;
      color: inherit;
      &:hover {
        color: $linkColor;
      }
    }
    span {
      margin: 0 5px;
      display: inline-block;
    }
  }
  .FooterLegalBlock {
    margin-top: 20px;
    font-weight: 400;
    font-size: $footerFinePrintTextSize;
    color: lighten($baseTextColor, 50%);
    text-align: left;
    &.HomePerks {
      max-width: $maxContentAreaBigScreen;
      margin: 0px auto;
    }
  }
}
