@import "../../styles/variables";

.ClosingTextSection {
  background: #f7f8fa;
  padding: 10px $spacing * 8;
  color: $baseTextColor;
  strong {
    font-weight: 400;
  }

  @media #{$breakPoint} {
    padding: 5px $spacing * 5;
  }
  &.WhiteBg {
    background: #fff;
    border-top: 2px solid $boxOutlineColor;
    border-left: 2px solid $boxOutlineColor;
    border-right: 2px solid $boxOutlineColor;
  }
}

.ClosingTextArea {
  max-width: $maxContentAreaBigScreen;
  margin: 30px auto;
  a {
    color: $linkColor;
  }
}
