@import "../../styles/variables";

.CallCTASection {
  max-width: $maxContentAreaBigScreen;
  margin: 0px auto;
  padding-bottom: $spacing * 14;
}

.CallCTAContainer {
  padding-top: $spacing * 3;
  padding-bottom: $spacing * 3;
  text-align: center;
  img {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
  }
  .refNumber {
    color: $baseTextColor;
    margin: $spacing * 5 0 $spacing * 2;
  }
}
