// RESPONSIVE BASE
$breakPoint: "screen and (max-width: 500px)";
$containerBigScreen: 600px;
$maxContentAreaBigScreen: 480px;

$containerSmallScreen: 375px;

// SPACING UNIT
$spacing: 4px;

// TYPE BASE
$primaryHeadingTextSize: 32px;
$secondaryHeadingTextSize: 24px;
$closingTextHeadingSize: 20px;
$subheadingTextSize: 16px;
$bodyTextSize: 14px;
$categoryLabelTextSize: 12px;
$footerLinkSecondaryTextSize: 10px;
$footerFinePrintTextSize: 11px;

$baseLineHeight: 1.5;
$denseLineHeight: 1.3;
$looseLineHeight: 1.7;

// COLOR BASE
$baseTextColor: #555;
$lightTextAltColor: #a1a5a8;
$lightTextColor: #848484;
$upd-pink: #f5333f;
$accentColor: #24a5bd;
$linkColor: #2b7499;

// VISUAL STYLE BASE
$boxOutlineColor: #e9ecef;
$boxOutlineWidth: 2px;
$boxBottomShadowColor: #f5f7f9;
$boxBottomShadowSize: 5px;
