@import "variables";
@import url("https://use.typekit.net/mbu7cxr.css");

// * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

body {
  font-family: "ars-maquette-web", "Verdana", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: $baseTextColor;
}

a,
button {
  cursor: pointer;
}
img {
  cursor: help;
  transition: all 0.2s;
  transform-origin: center;
}
.EmailShell {
  max-width: $containerBigScreen;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;

  @media #{$breakPoint} {
    max-width: $containerSmallScreen;
  }
}

.highlightedBox {
  border: $boxOutlineWidth solid $boxOutlineColor;
  padding: 15px;
  // box-shadow: 0 $boxBottomShadowSize 0 $boxBottomShadowColor;
}

.categoryLabel {
  font-size: $categoryLabelTextSize;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: $spacing * 3;
  color: $lightTextAltColor;

  &.dark {
    color: $baseTextColor;
  }
}
