@import "../../styles/variables";

.HeaderSection {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $spacing * 15;
  padding-right: $spacing * 15;
  border-bottom: $boxOutlineWidth solid $boxOutlineColor;

  .UpdaterLogo {
    width: 93px;
    height: 35px;
    object-fit: contain;
    margin-right: 18px;

    @media #{$breakPoint} {
      width: 82px;
      height: 31px;
    }
  }

  .PartnerLogo {
    width: 130px;
    height: 35px;
    object-fit: contain;
    object-position: left;
    flex: 0;

    @media #{$breakPoint} {
      width: 112px;
      height: 31px;
    }
  }

  a {
    font-size: $categoryLabelTextSize;
    color: $linkColor;
    text-decoration: none;
    font-weight: 400;
  }
  @media #{$breakPoint} {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.HomePerksHeadingCTA {
  background: #e9ecef;
  font-size: $categoryLabelTextSize;
  font-weight: 400;
  color: $linkColor;
  padding: 7px;
  line-height: 1;
  text-align: center;
}
