@import "../../styles/variables";

.CobrandingSection {
  background: #f7f8fa;
  box-sizing: border-box;
  padding: $spacing * 4;
  max-width: $maxContentAreaBigScreen;
  margin: 0px auto $spacing * 8;
}
.ClosingTextSection + .CobrandingSection {
  margin-top: $spacing * 8;
}
.CobrandingBroughtBy {
  font-size: 12px;
  font-weight: 400;
  color: #202020;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.CobrandingContainer {
  margin-top: $spacing * 4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.CobrandingLogoBlock {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing * 3;
}

.CobrandingLogo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.CobrandingPersonBlock {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 220px;
  margin-bottom: $spacing * 3;
}

.CobrandingPerson {
  display: flex;
}

.CobrandingPerson + .CobrandingPerson {
  margin-top: $spacing * 3;
}
.CobrandingPersonHeadshot {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  margin-right: $spacing * 3;
}
.CobrandingPersonalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CobrandingPersonName {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #444;
}
.CobrandingPersonDescription {
  font-size: 12px;
  color: #555;
  font-weight: 200;
}
