@import "../../styles/variables";

.TextBlockHeading {
  font-size: $secondaryHeadingTextSize;
  font-weight: 400;
  margin: 0;
  margin-bottom: $spacing * 3;
  line-height: $baseLineHeight;
  a {
    color: $accentColor;
    text-decoration: none;
  }
  @media #{$breakPoint} {
    &.MetricSubheading {
      font-size: $secondaryHeadingTextSize * 0.8;
    }
  }
}

.TextBlockSubheading {
  font-size: $closingTextHeadingSize;
  font-weight: 400 !important;
  margin: 1em 0 0.3em;
  line-height: $baseLineHeight;
  &.small {
    font-size: $subheadingTextSize;
  }
  @media #{$breakPoint} {
    // font-size: $subheadingTextSize * 0.8;
  }
}

.TextBlockBody {
  margin-top: 1em;
  font-size: $bodyTextSize;
  line-height: $looseLineHeight;
  color: $baseTextColor;
  a {
    color: $accentColor;
    text-decoration: none;
    font-weight: 400;
  }
  &.SimpleBlock {
    margin-top: 0;
    max-width: $maxContentAreaBigScreen;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $spacing * 10;
  }
}
