@import "../../styles/variables";

.HomePerksSection {
  max-width: $maxContentAreaBigScreen;
  margin: 0px auto;
  padding-bottom: $spacing * 14;
  .brandName {
    color: $baseTextColor;
  }
}

.HomePerksTable {
  font-size: $bodyTextSize;
  margin-bottom: $spacing * 7;
  h3 {
    font-size: $bodyTextSize;
    text-transform: none;
    font-weight: 400;
    margin: 0 0 $spacing * 4;
  }
  &Shell {
    background: #ccc;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
  }
  &Row {
    width: 100%;
    display: flex;
    & + & {
      margin-top: 1px;
    }
  }
  &IntroCopy {
    background: #fff;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    padding: $spacing * 4;
    font-size: $footerLinkSecondaryTextSize;
    line-height: $baseLineHeight;
    color: $baseTextColor;
    word-wrap: break-word;
    strong {
      font-weight: 400;
    }
    a {
      color: $linkColor;
      text-decoration: none;
    }
  }
  &Label,
  &Content,
  &CompanyHeading {
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
  }
  &Label {
    font-size: $categoryLabelTextSize;
    color: $lightTextColor;
    flex: 0 0 120px;
    text-align: right;
    margin-right: 1px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: $baseLineHeight;
    background: $boxOutlineColor;

    &Sub {
      font-size: $footerLinkSecondaryTextSize;
      display: block;
      line-height: $denseLineHeight;
      color: $lightTextAltColor;
    }
  }
  &Content {
    box-sizing: border-box;
    flex: 1;
    color: $baseTextColor;
    line-height: $baseLineHeight;
    display: flex;
    font-size: $bodyTextSize;
    flex-direction: column;
    justify-content: center;
    &.pricing {
      text-align: right;
      color: #333;
    }
    &.big {
      font-size: 17px;
      font-weight: 400;
    }
    &.Emphasis {
      font-weight: 400;
      color: #333;
    }
    .PhoneNumber {
      font-weight: 400;
      color: $linkColor;
    }
    .OtherOptionLabel {
      font-size: $categoryLabelTextSize;
    }
    .OtherOptionContent {
      font-size: $bodyTextSize;
      font-weight: 400;
    }
    .OtherOptionContent + .OtherOptionLabel {
      margin-top: $spacing * 3;
    }
  }
  .PricingTable {
    line-height: 1;
    &Row {
      display: flex;
      padding: $spacing * 3 0 0;
      align-items: center;

      &.Total {
        font-weight: 400;
        border-top: 1px solid #bbb;
        .PricingTableContent {
          flex-basis: 110px;
        }
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        margin-top: $spacing * 3;
      }
    }
    &Subheading {
      font-size: $bodyTextSize;
      font-weight: 400;
      line-height: $denseLineHeight;
      color: #fff;
      background: #999;
      padding: $spacing $spacing * 2;
      width: 100%;
      align-self: stretch;
    }
    &Label {
      flex: 1;
      font-size: $bodyTextSize;
      line-height: $denseLineHeight;
      padding-right: $spacing * 3;
    }
    &LabelNote {
      font-size: $footerLinkSecondaryTextSize;
      display: block;
      margin-top: $spacing;
      line-height: $denseLineHeight;
    }
    &Content {
      flex: 0 0 80px;
      text-align: right;
      font-size: $bodyTextSize;
    }
  }
  .PricingTableRow.Subheading + .PricingTableRow.Total {
    margin-top: 0;
  }
  .PricingTable + .PricingTable {
    margin-top: $spacing * 6;
  }
  &CompanyHeading {
    padding: 25px 10px;
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .CompanyLogo {
      width: 100px;
      height: 50px;
      object-fit: contain;
    }
    .ProductName {
      margin-top: $spacing * 3;
      font-size: $categoryLabelTextSize;
      color: $linkColor;
      font-weight: 400;
    }
  }
  &Footer {
    background: #f6f7f8;
    padding: $spacing * 4;
    margin-top: 1px;
    box-sizing: border-box;
    font-size: $categoryLabelTextSize;
    line-height: $baseLineHeight;
    color: #333;
    a {
      color: $linkColor;
      text-decoration: none;
    }
    strong {
      font-weight: 400;
    }
  }
  @media #{$breakPoint} {
    &Row {
      flex-direction: column;
    }
    &Label {
      margin-right: 0;
      margin-bottom: 1px;
      flex-basis: auto;
      text-align: center;
      align-items: flex-start;
      background: $boxOutlineColor;
    }
  }
}

.MoverPackDeal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &Logo {
    box-sizing: border-box;
    border: $boxOutlineColor 2px solid;
    width: 88px;
    height: 88px;
    padding: 5px;
    flex-shrink: 0;
    object-fit: contain;
    background: #fff;
    @media #{$breakPoint} {
      width: 72px;
      height: 72px;
      padding: 3px;
    }
  }
  &Details {
    margin-left: $spacing * 3;
    display: flex;
    align-items: center;
    .MoverPackDealBrand {
      color: $baseTextColor;
      margin-bottom: $spacing * 2;
    }
    .MoverPackDealDescription {
      font-size: $closingTextHeadingSize;
      // font-size: $subheadingTextSize;
      font-weight: 400;
      line-height: $denseLineHeight;
      @media #{$breakPoint} {
        font-size: $subheadingTextSize;
      }
    }
    @media #{$breakPoint} {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .CTA_BTN {
    flex: 0;
    align-self: center !important;
    margin-top: 0;
    margin-left: $spacing * 4;
    @media #{$breakPoint} {
      margin-left: 0;
      margin-top: $spacing * 2;
      padding: 0.75em 1.5em;
      font-size: $bodyTextSize * 0.9;
    }
  }
  &Text {
    font-size: $subheadingTextSize;
    font-weight: 400;
    flex: 1;
    color: $baseTextColor;
  }
}
