@import "../../styles/variables";

.TimelineSection {
  max-width: $maxContentAreaBigScreen;
  margin: 0px auto;
  padding-bottom: $spacing * 14;
}

.TimelineUpFirst {
  display: flex;

  img {
    box-sizing: border-box;
    width: 51px;
    height: 51px;
    margin-right: $spacing * 5;
    flex: 0;
  }
  &.Prominent {
    display: block;
    text-align: center;
    padding-bottom: $spacing * 2;
    img {
      margin-top: $spacing * 2;
      margin-bottom: $spacing;
      margin-right: 0;
    }
    .TextBlockBody {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.TimelineNextStepTitle {
  margin-left: $spacing * 7.5;
  padding-top: $spacing * 5;
  padding-left: $spacing * 5;
  border-left: $boxOutlineWidth solid $boxOutlineColor;
  &.NoLine {
    border-left: none;
    padding-left: 0;
  }
}

.TimelineNextStepConnector {
  margin-left: $spacing * 7.5;
  padding-left: $spacing * 5;
  font-size: 10px !important;
  border-left: $boxOutlineWidth solid $boxOutlineColor;
  &.NoLine {
    border-left: none;
  }
}

.TimelineNextStep {
  display: flex;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      text-decoration: underline;
      color: $accentColor;
    }
  }

  &Dot {
    margin-left: $spacing * 2;
    margin-right: $spacing * 4;
    font-size: 2px !important;
    // background: $accentColor;
    width: 10px;
    height: 10px;
    flex-grow: 0;
    border-radius: 10px;
    img {
      width: 10px;
      height: 10px;
    }
  }

  &Text {
    font-size: $subheadingTextSize;
    font-weight: 400;
    flex: 1;
    color: $baseTextColor;
  }

  &Arrow {
    font-size: $subheadingTextSize;
    font-weight: 900;
    color: $accentColor;
    flex-grow: 0;
  }
}
