@import "../../styles/variables";

.MoverPackSection {
  max-width: $maxContentAreaBigScreen;
  margin: 0px auto;
  padding-bottom: $spacing * 14;
  .brandName {
    color: $baseTextColor;
  }
}

.MoverPackHighlight {
  position: relative;

  &Container {
    padding: $spacing * 5;
    padding-bottom: $spacing * 5;
  }

  &Logo {
    position: absolute;
    box-sizing: border-box;
    border: $boxOutlineColor 2px solid;
    top: -36px;
    left: calc(50% - 36px);
    width: 72px;
    height: 72px;
    padding: 3px;
    object-fit: contain;
    background: #fff;
    // transform: translateX(-36px) translateY(-36px);
  }
  &Img {
    max-width: 100%;
    box-sizing: border-box;
  }
}

.MoverPackDeal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &Logo {
    box-sizing: border-box;
    border: $boxOutlineColor 2px solid;
    width: 88px;
    height: 88px;
    padding: 5px;
    flex-shrink: 0;
    object-fit: contain;
    background: #fff;
    @media #{$breakPoint} {
      width: 72px;
      height: 72px;
      padding: 3px;
    }
  }
  &Details {
    margin-left: $spacing * 3;
    display: flex;
    align-items: center;
    .MoverPackDealBrand {
      color: $baseTextColor;
      margin-bottom: $spacing * 2;
    }
    .MoverPackDealDescription {
      font-size: $closingTextHeadingSize;
      // font-size: $subheadingTextSize;
      font-weight: 400;
      line-height: $denseLineHeight;
      @media #{$breakPoint} {
        font-size: $subheadingTextSize;
      }
    }
    @media #{$breakPoint} {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .CTA_BTN {
    flex: 0;
    align-self: center !important;
    margin-top: 0;
    margin-left: $spacing * 4;
    @media #{$breakPoint} {
      margin-left: 0;
      margin-top: $spacing * 2;
      padding: 0.75em 1.5em;
      font-size: $bodyTextSize * 0.9;
    }
  }
  &Text {
    font-size: $subheadingTextSize;
    font-weight: 400;
    flex: 1;
    color: $baseTextColor;
  }
}
