@import "../../styles/variables";

.MetricBlockContainer {
  width: 100%;
  max-width: $maxContentAreaBigScreen;
  margin: 0 auto;
  font-size: $bodyTextSize;
  line-height: $looseLineHeight;
  color: $baseTextColor;
  justify-content: space-between;
}

.MetricTableRow {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  & + .MetricTableRow {
    margin-top: 12px;
  }
}

.MetricBlock {
  display: table-cell;
  box-sizing: border-box;
  flex: 0 0 calc(50% - 6px);
  border: 1px solid $accentColor;
  background: lighten($accentColor, 52%);
  padding-bottom: 18px;
  @media #{$breakPoint} {
    &.promo {
      flex-basis: 100%;
    }
  }
}

.MetricTableSpacerCell {
  flex-basis: 12px;
  height: 12px;
}

.MetricLabel {
  background: $accentColor;
  color: #fff;
  font-size: $bodyTextSize;
  font-weight: 400;
  line-height: $denseLineHeight;
  padding: $spacing * 2;
}

.MetricBigNumber {
  font-size: 36px;
  line-height: $denseLineHeight;
  color: $accentColor;
  font-weight: 400;
  margin-top: 0.5em;
  &.promo {
    font-size: 24px;
    // color: #333;
  }
  @media #{$breakPoint} {
    font-size: 28px;
    &.promo {
      font-size: 20px;
    }
  }
}

.MetricContext {
  font-size: $bodyTextSize;
  font-weight: 400;
  color: #202020;
}

.UpdaterAverage {
  font-size: $categoryLabelTextSize;
  margin-top: $spacing * 2;
  .ValueHighlight {
    font-weight: 400;
    color: #5e9e3d;
  }
  &.promo {
    margin-left: $spacing * 5;
    margin-right: $spacing * 5;
    // font-weight: 400;
    line-height: $denseLineHeight;
  }
}

.MetricCtaArea {
  max-width: $maxContentAreaBigScreen;
  margin: $spacing * 7 auto;
  text-align: center;
  font-size: $bodyTextSize;
  padding-bottom: $spacing * 10;
}
