@import "../../styles/variables";

.CTA_BTN {
  background: $linkColor;
  border: none;
  outline: none;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 0.5px;
  font-size: $bodyTextSize;
  color: #fff;
  border-radius: 3em;
  margin-top: $spacing * 4;
  margin-bottom: $spacing;
  padding: 1em 2em;
  transition: background 0.2s;

  &:hover {
    background: $accentColor;
  }
}
