@import "../../styles/variables";

#WelcomeEmailConfig {
  position: fixed;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  top: 40px;
  z-index: 97;
  background: #eee;
  left: 0;
  width: 220px;
  padding: 20px;
  transform: translateX(-225px);
  transition: transform 0.5s cubic-bezier(0.33, 0, 0.47, 1.29);

  max-height: calc(100vh - 50px);
  overflow-y: auto;
  &.on {
    transform: translateX(0);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }
  li:first-child {
    display: flex;
    justify-content: space-between;
    button {
      flex: 1;
      text-align: left;
    }
    &::after {
      content: "\25B2";
      color: #39b3ca;
    }
  }
  ul[data-exposed="hide"] {
    li {
      display: none;
      &:first-child {
        display: flex;
        color: #555;
        &::after {
          content: "\25BC";
          color: #2b7499;
        }
      }
    }
  }
  .BackToMenu {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
    border-radius: 20px;
    text-align: center;

    a {
      color: #fff;
      display: block;
      text-decoration: none;
    }

    background: $linkColor;
    transition: background 0.2s;

    &:hover {
      background: $accentColor;
    }
  }
  .ConfigSection {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #202020;
    padding: 10px 0 5px;
    border-bottom: 1px solid #aaa;
    button {
      font-family: inherit !important;
      font-size: inherit !important;
      color: inherit !important;
      font-weight: inherit !important;
      margin: 0 !important;
    }
  }
  button {
    outline: 0;
    margin: 5px 0;
    background: transparent;
    border: 0;
  }
}
#ConfigTab {
  border: 1px solid #ccc;
  z-index: 99;
  display: block;
  position: fixed;
  top: 50px;
  width: 50px;
  height: 50px;
  left: 0px;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
  background: #ddd;
  color: #fff;
  box-shadow: 1px 1px 5px #ddd;
  transition: transform 0.5s cubic-bezier(0.33, 0, 0.47, 1.29);
  outline: none;
  &.on {
    transform: translateX(220px);
  }
  img {
    opacity: 0.6;
    width: 30px;
    object-fit: contain;
    height: 30px;
  }
}
