@import "../../styles/variables";

.IntroSection {
  // text-align: center;
  max-width: $maxContentAreaBigScreen;
  margin: 0px auto;
  padding-top: $spacing * 10;
  padding-bottom: $spacing * 10;
  a {
    color: $accentColor;
    text-decoration: none;
  }
}

.RecipientName {
  font-size: $subheadingTextSize;
  margin-bottom: $spacing * 4;
}

.MainHeadline {
  font-size: $primaryHeadingTextSize;
  line-height: $baseLineHeight;
  font-weight: 400;
  margin: 0;
  margin-bottom: $spacing * 3;

  &.MetricTitle {
    margin-bottom: $spacing * 2;
  }

  color: $baseTextColor;

  @media #{$breakPoint} {
    font-size: $secondaryHeadingTextSize;
  }
}

.MainSubheadline {
  font-size: $subheadingTextSize;
  line-height: $baseLineHeight;
  margin: 0;
  margin-bottom: $spacing * 4;
}

.MainHeadlineImage {
  max-width: 100%;
  margin-bottom: $spacing * 4;
}
